* {
    margin: 0px;
    padding: 0px;
}

:root {
    --color: pink;
    --colorb: rgb(255, 208, 0);
    --colorc: cornflowerblue;
    --colord: rgb(217, 196, 168);
    --colore: rgb(199, 41, 13);
    --colorf: rgb(30, 182, 232);
}

/* :root {
    --color: rgb(21, 217, 21);
    --colorb: rgb(52, 210, 142);
    --colorc: rgb(52, 211, 174);
    --colord:  rgb(69, 133, 103);
    --colorf: rgb(56, 209, 71); 
} */
header {
    position: sticky;
    top: 0%;
}

footer {}

.nav {
    padding: 40px;
    border: 1px solid pink;
    background-color: var(--color);
    position: sticky;
 align-items:end;

}

ul li {
    list-style: none;
    display: inline;
    padding: 45px;
    font-size: large;
}

ul li:hover {
    font-size: x-large;
    background-color: rgb(75, 74, 74);
    color: yellow;
}

ul li a {
    text-decoration: none;
    color: black;
}

.box {
    margin: 20px 34px;
    /* height: 555px; */
    background-color: var(--colorb);
    text-align: center;
    padding: 40px;

}

.text2 {
    color: yellow;
    font-size: xx-large;
    font-family: cursive;
}


.box1 {
    background-color: var(--colore);
    height: 60vh;
    width: 35%;
    margin: 15px;
    display: inline-block;

}

.box2 {
    background-color: var(--colorf);
    height: 60vh;
    width: 35%;
    display: inline-block;
    margin: 15px;
}

.box9 {
    height: 52px;
    background-color: rgb(231, 131, 8);
    width: 52px;
    position: fixed;
    bottom: 12px;
    right: 12px;
    border-radius: 130px;
    font-size: small;
    text-align: center;

}

.text {
    background-color: var(--colorc);
    border-radius: 15px;
    margin: 20px;
    padding: 20px;
    font-size: large;
}

video {
    padding-top: 80px;
}

footer {
    background-color: var(--colord);
    height: 100px;
}