:root {
    --color: rgb(75, 241, 178);
    --seccolor: rgb(138, 209, 209);
}

* {}

.nav {
    background-color: var(--color);
}

ul {
    display: flex;
}

ul li:first-child{
    --color: rgb(232, 131, 217);
    background-color: var(--color);
}
ul li :nth-child(3){
    --color: yellow;
    background-color: var(--color);

}

li {
    opacity: 0.;
    list-style: none;
    padding: 34px;
}

.container {
    background-color: var(--seccolor);
}
.boxes{
    display: flex;
}
.box{
    width: 244px;
    height: 244px;
    background-color: aquamarine;
    margin: 10px;
    padding: 10px;
}
@media only screen and (max-width:455px) {  
body{
    background-color: yellow ;
    }}
.boxes{
     flex-direction: column;
}    